* {
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

h1 {
	display: inline-block;
	height: 150px;
	vertical-align: top;
	line-height: 150px;
	font-size: 70px;
	font-weight: lighter;
}

h2 {
	background-color: #337aaf;
	background: -webkit-linear-gradient(#0a63a1, #397caf, #0a63a1);
	background: -o-linear-gradient(#0a63a1, #397caf, #0a63a1);
	background: -moz-linear-gradient(#0a63a1, #397caf, #0a63a1);
	background: linear-gradient(#0a63a1, #397caf, #0a63a1);
	height: 75px;
	font-weight: lighter;
	font-size: 50px;
	line-height: 75px;
	color: white;
	margin-top: -25px;
}

h1 span {
	color: #0762a1;
}

.sidebar {
	width: 300px;
	display: inline-block;
}

.sidebar * {
	display: inline-block;
}

.sidebar h3 span {
	color: red;
}

.sidebar h4 span {
	color: #0a63a1;
}

.sidebar a:nth-of-type(1) {
	color: white;
	text-decoration: none;
	display: block;
	padding: 5px;
    background: linear-gradient(#397caf, #0a63a1);
    width: 100;
    width: 300;
    border-radius: 5px;
    text-align: center;
}

.sidebar a:nth-of-type(2) {
	color: white;
	text-decoration: none;
	display: block;
	padding: 5px;
    background: linear-gradient(#f79f26, #ff6d00);
    width: 100;
    width: 300;
    border-radius: 5px;
    text-align: center;
}

.ninja {
	background-image: url("../images/ad_background.png");
	display: inline-block;
}

.ninja a {
	color: white;
	text-decoration: none;
	display: block;
	padding: 5px;
    background: linear-gradient(#f79f26, #ff6d00);
    width: 100;
    width: 300;
    border-radius: 5px;
    text-align: center;
}

.ninja p {
	color: white;
	font-size: 32px;
	text-align: center;
	width: 240px;
	font-weight: lighter;
	padding: 30px;
	margin: auto;
}

.main-head {
	border-bottom: 5px solid grey;
	display: inline-block;
}